.todo {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

    padding: 0.25rem;
    border-radius: 0.25rem;

    margin-top: 24vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    min-width: 10rem;
    width: 100%;
    max-width: 30rem;

    scale: 1.5;
}
