.todo-body {
    background: black;
    padding: 0.5rem;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    min-width: 20rem;
    border-radius: 0.25rem;

    box-shadow: 1rem 0.5rem 0.25rem rgba(0, 0, 0, 50%);
}

.todo-body-input {
    padding: 0.5rem;
    border-width: 0px;
    background: white;
    color: black;
    border-radius: 0.25rem;
    width: 100%;
}

.todo-body-btn {
    color: black;
    background: white;
    border-width: 0px;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: bold;
}
.todo-body-btn:hover {
    background-color: purple;
    cursor: pointer;
}
