.block-foot {
    margin-left: 1rem;

    background-color: black;
    border-radius: 0.25rem;
    padding: 0.25rem;
    display: grid;
    width: 35%;

    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 0.125rem;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.block-foot-button {
    justify-self: stretch;
    align-self: stretch;

    padding: 0.125rem;
    background-color: white;
    border-radius: 0.125rem;
    border: 0;
}

.block-foot-button:hover {
    background-color: purple;
    cursor: pointer;
}

.block-foot-button-edit {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.block-foot-button-delete {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.block-foot-button-up {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.block-foot-button-down {
}
